---
const { class: className = "" } = Astro.props;
---

<a class={`inline-flex items-center ${className}`} href="/" aria-label="Staff & Ledger home">
  <img src="/brand/Logo.svg" alt="Staff & Ledger" class="h-[35px] w-[400px] max-w-[min(72vw,400px)]" />
</a>
