---
const { class: className = "" } = Astro.props;
---

<a class={`inline-flex items-center flex-none ${className}`} href="/" aria-label="Staff & Ledger home">
  <img src="/brand/Logo.svg" alt="Staff & Ledger" class="h-[20px] lg:h-[24px]" />
</a>
